@font-face {
  font-family: 'Inter'; /* Name to use for the font */
  src: url('../assets/fonts/Inter-Medium.ttf') format('truetype'); /* Path to the TTF font file */
  font-weight: normal;
  font-style: normal;
}
.CMC {
  display: flex;
  justify-content: center;
}
.CMC-pic{
  width: 60%;
  height: 60%;
}
.about {
    margin: 5%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.about-page {
    color: white;
  }

  h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: 'Inter';
  }
 
  p {
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  .left-header {
    text-align: left;
    margin-top: 5%;
  }
  .left-header2 {
    text-align: left;
    margin-top: 10%;
  }
  h3{
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-size: x-large;
  }
.image-container{
    
    right: 10%;
    
}
.different-color-text{
  color: #FE7EA4;
  -webkit-text-stroke: 0.2px white; /* Adjust the width of the outline as needed */
  background-clip: text;
  -webkit-background-clip: text;
}
.chief-patron-container {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-bottom: 20px;
  justify-content: flex-end;
  text-align: center;
}

.chief-patron-text {
  margin-right: 20px;
  
}

.patron-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}
.dual-container {
  display: flex;
  justify-content: center; /* To separate the two containers */
  align-items: center;
  gap: 5%;
}

.chairpersons-container {
  display: flex;
  flex-direction: column; /* Make them side by side */
  align-items: center;
}

.chairpersons-text {
  margin-top: 6%;
  text-align: center;
}

.patron-image {
  max-width: 100%;
}
@media screen and (max-width: 1000px) {
  .dual-container{
    gap: 3%;
  }
  .chairpersons-text{
    font-size: 1.5vw;
    white-space: nowrap;
  }
  .chief-patron-text{
    font-size: 2.3vw;
    white-space: nowrap;
  }
  .CMC-pic{
    height: 100%;
    width: 100%;
  }
  .about-page{
    text-align: center;
  }
  .left-header{
    white-space: nowrap;
    text-align: center;
  }
  .left-header2{
    white-space: nowrap;
    text-align: center;
  }
}