.subtext{
    text-align: left;
}
.accommodation-page {
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
  }

  header {
    margin-top: 20px;
    justify-content: center;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .bullet-points {
    text-align: left;
    margin: 20px 0;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin:5%;
  }
  
  .column-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1%;
    justify-content: right;
  }
  .column-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1%;
    justify-content: right;
    margin-left: 40%;
  }
  
  .acc-name {
    font-weight: bold;
    margin-top: 5%;
    font-size: 16px;
  }
  
.acc-header{
    display: flex;
    justify-content: center;
    margin: 4%;
}
.acc-text{
    margin-bottom: 5%;
}
.acc-image{
  height: 50%;
}

@media screen and (max-width: 1000px) {
  .column-left{
    margin-left: 0;
    width: 50%;
  }
  .container{
    flex-direction: row;
    margin: 0%;
    gap: 0;
  }
  .acc-name{
    font-size: 60%;
  }
}