.cart-text{
    text-align: center;
    color: white;
}
.cart-header{
    margin-left: 0;
}
.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin: 3%;
  align-items: center;
}
.cart-footer{
    width: 100%;
    margin-top: auto;
}
/* CartPage.css */
.cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: 0;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .pay-button{
    white-space: nowrap;
    background-color:#A6113D;
    margin-bottom: 20%;
  }
  .item-total{
    margin-top: 40%;
    color: white;
  }
  .cart-item {
    background-color: #fff; /* White background for the card */
    color: #000; /* Black text color */
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle 3D effect */
    transition: transform 0.3s ease-in-out;
  
    /* Hover effect */
    &:hover {
      transform: scale(1.005); /* Increase size on hover */
    }
  }
  .cart-item-details{
    color: black;
  }
  .item{
    color: black;
  }

  /* Add any additional styling as needed */
 