/* ContactUs.css */

/* Header styles */

  
  .header img {
    max-height: 50px; /* Adjust the height as needed */
  }
  
  /* Team section styles */
  .team-section {
    text-align: center;
    margin: 20px;
  }
  
  .team-header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    display: contents
  }
  
  .subheading {
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-members-sports {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15%;
  }
  .parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  .team-members img {
    max-width: 200px; /* Adjust the width as needed */
    margin: 25px; /* Add spacing between team members */
  }
  .team-members-sports{
    max-width: 200px; /* Adjust the width as needed */
    margin: 25px; 
  }
  .member-name{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    
  }
.team-members-contact{
  justify-content: center;
  gap: 10%;
  display: flex;
}
@media screen and (max-width: 1000px) {
  
  .nav-list {
    justify-content: center; /* Center the navigation links */
  }
  .subheading{
    text-align: center;
  }
  .team-members img{
    max-width: 100px;
    margin: 10px;
  }
  .member-name{
    font-size: medium;
  }
  .team-members-sports img{
    max-width: 100px;
    margin: 10px;
  }
  .team-members-sports {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-template-rows: 1fr 1fr;
  align-items: center;
    
  }
  .parent{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}