body {
  background: linear-gradient(to bottom, #02050A, #2057A6);
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 20px;

}

.logo-left, .logo-right {
  height: 50%;
}

.center-text {
  color: white;
  font-weight: 1000;
  font-size: xxx-large;
  
}

/* Styles for the horizontal navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

button:hover {
  background-color: #444;
}

/* Styles for the video box */
.video-box {
  width: 100%; /* Adjust the width as needed */
  padding: 20px; /* Background color for the video box */
  text-align: center;
}

.content-video {
  width: 80%;
  max-width: 100%; /* Ensure the video doesn't exceed the box width */
}

/* Styles for the countdown */
.countdown {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  color: white;
}

.countdown-timer {
  display: flex;
  justify-content: center;
}

.countdown-item {
  margin: 0 10px;
  font-size: 18px;
  background-color: #F484A5;
}

.countdown-item span {
  font-size: 24px;
  font-weight: bold;
  color: #F484A5;;
}
.Register-now{
  overflow-x: hidden;
  width: 100%;
}
.register-now-container {
  width: 100%; /* Adjust the width as needed */
  overflow: hidden;
}

.register-now {
  display: inline-block;
  white-space: nowrap;
  animation: filmReel 100s linear infinite;
  transform: translateX(50%);
  width: 500%; /* Start off-screen to the left */
}

@keyframes filmReel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* Move the image to the right edge */
  }
}
