body {
  /* background: linear-gradient(to bottom, #02050A, #2057A6); */
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden;
  color: black;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

}

.logo-left, .logo-right {
  height: 50%;
}

.center-text {
  color: black;
  font-weight: 1000;
  font-size: xxx-large;
  text-align: center;
  
}
.countdown-container{
  justify-content: center;
}
button:hover {
  background-color: #444;
}

/* Styles for the video box */
.video-box {
  width: 100%; /* Adjust the width as needed */
  padding-bottom: 2%;
  padding-top: 2%; /* Background color for the video box */
  text-align: center;
  background-color: black;
}

.content-video {
  width: 80%;
  max-width: 100%; /* Ensure the video doesn't exceed the box width */
}

/* Styles for the countdown */
.countdown {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  color: black;
}

.countdown-timer {
  display: flex;
  justify-content: center;
}

.countdown-item {
  margin: 0 10px;
  font-size: 18px;
  background-color: #F484A5;
}

.countdown-item span {
  font-size: 24px;
  font-weight: bold;
  color: #F484A5;;
}
.Register-now{
  overflow-x: hidden;
  width: 100%;
}
.register-now-container {
  width: 100%; /* Adjust the width as needed */
  overflow: hidden;
}

.register-now {
  display: block;
  white-space: nowrap;
  animation: filmReel 100s linear infinite;
  transform: translateX(50%);
  max-width: 500%;
    overflow-x: hidden;
}
.line {
  width: 88%; /* Set the width of the line to 50% of the container */
  border-top: 2px solid #A6113D; /* Add a top border to create a line */
  margin: 0 auto; /* Center the line horizontally */
}
.register-now-button{
  align-items: center ;
  display: flex;
  justify-content: center;
  margin-bottom: 7%;
}

@keyframes filmReel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* Move the image to the right edge */
  }
}
@media screen and (max-width: 1000px) {
  .center-text{
    font-size: 4.5vw;
    white-space: nowrap;
  }
  .header{
  }
  .nav-list {
    justify-content: center; /* Center the navigation links */
  }
  .register-now{
    max-width: 1500%;
  }
}