/* SponsorSection.css */

.sponsor-section {
    text-align: center;
    margin: 40px 0;
    margin-top: 10%;
  }
  
  .sponsor-section h2 {
   text-align: left;
   margin-left: 9%;
    font-weight: 900;
  font-size: xx-large;
  font-family: "Anton", sans-serif;
  }
  
  .sponsor-section img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  .sponsor-section p {
    font-size: 16px;
    font-style: 'Inter';
    color: white;
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: left;
  }
  
  .sponsor-section .apply-button {
    background-color: #FBC02D;
    color:red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-left: 70%;
  }
  @media screen and (max-width: 1000px) {
    .sponsor-section{
      text-align: center;
    }
    .sponsor-section p{
      text-align: center;
    }
  }