/* SponsorSection.css */

.sponsor-section {
    text-align: center;
    margin: 40px 0;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  
  .sponsor-section h2 {
   text-align: center;
    font-weight: 900;
  font-size: xx-large;
  font-family: "Anton", sans-serif;
  }
  
  .sponsor-section img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  .sponsor-section p {
    font-size: 16px;
    font-style: 'Inter';
    color: white;
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: left;
    margin-bottom: 5%;
  }
  
  .sponsor-section .apply-now-button {
    background-color: #A6113D;
    border: 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 3%;
  }
@media screen and (max-width: 1000px) {
    .sponsor-section{
      text-align: center;
      margin-bottom: 8% ;
    }
    .sponsor-section p{
      text-align: center;
      margin-bottom: 8% ;
    } 
  }