/* countdown.css */

/* Global Styles */
:root {
	--blue: hsl(237, 18%, 59%);
	--red: hsl(345, 95%, 68%);
	--white: hsl(0, 0%, 100%);
	--dark-blue-1: hsl(236, 21%, 26%);
	--dark-blue-2: hsl(235, 16%, 14%);
	--dark-blue-3: hsl(234, 17%, 12%);
	--bp-large: 59.375em;
  }
  
  .global-style *,
  *::after,
  *::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
  }
  
  
  
  
  /* Styles for Container */
  .container-countdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 7%;
  }
  
  /* Styles for Heading */
  .heading {
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.6rem;
	text-align: center;
  }
  
  /* Styles for Main */
  .main {
	display: flex;
	justify-content: center;
	gap: 2rem;
	width: 40%;
  }
  .heading-countdown{
	color: black;
  }

  @media screen and (max-width: 37.5em) {
	.main{
		gap: 1rem;
	}
	.container-countdown{
		gap: 1rem;
		margin-bottom: 10%;
	}
  }
  
  /* ... Additional styles for Card, etc. */
  