/* EventDetails.css */

.event-details {
    text-align: center;
    margin-top: 20px;
  }
  h2{
    font-weight: 900;
    font-size: xx-large;
    font-family: "Anton", sans-serif;
  }
  .event-content {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  
  .event-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .event-content img {
    max-width: 100%;
    height: auto;
  }
  
  .event-navigation {
    margin-top: 20px;
  }
  
  .event-navigation button {
    background-color: #F484A5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .event-navigation button:hover {
    background-color: #444;
  }
  .event {
    position: relative;
    width: 65%;
  }
  
  .arrow {
    position: absolute;
    top: 50%; /* Adjust the vertical position as needed */
    transform: translateY(-50%); /* Center vertically */
  }
  
  .arrow.left {
    left: 10px; /* Adjust the horizontal position for the left arrow */
  }
  
  .arrow.right {
    right: 10px; /* Adjust the horizontal position for the right arrow */
  }
  .dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #F484A5; /* Active dot color */
  }
  @media screen  and (max-width: 1000px){
    .event {
      position: relative;
      width: 100%;
    }
  }