/* Footer.css */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    padding: 20px;
    color: white;
    background-color: #573D80;
    text-align: center;
  }
  
  .footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer img {
    max-width: 100%;
    height: auto;
  }
  
  .footer p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  /* Adjust the styling for the footer-left, footer-middle, and footer-right elements as needed */
  .footer-left,
  .footer-middle,
  .footer-right {
    width: 40%; /* Adjust the width as needed */
  }
  .footer-left{
    display: flex;
    flex-direction: column;
  }
  /* Style for the footer contact information */
  .footer-right {
    text-align: right;
  }
  /* Footer.css */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    padding: 20px;
  }
  
  .footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer img {
    max-width: 100%;
    height: auto;
  }
  
  .footer p {
    font-size: 16px;
    color: white;
    margin: 10px 0;
  }
  
  /* Adjust the styling for the footer-left, footer-middle, and footer-right elements as needed */
  .footer-left,
  .footer-middle,
  .footer-right {
    width: 40%; /* Adjust the width as needed */
  }
  
  /* Style for the footer contact information */
  .footer-right {
    text-align: right;
  }
  
  /* Style for the social media handles */
  .social-media {
    display: flex;
    flex-direction: row;
    gap: 7%;
    margin-top: 5%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .column-footer {
    display: flex;
    align-items: center;
    margin-right: 10px; 
    flex-direction: row;/* Adjust the margin as needed */
  }
  
  .column-footer img {
    max-width: 30px; 
    height: auto;
  }
  
  .column-footer a {
    text-decoration: none;
    color: white;
    margin-left: 4%;
  }
  
  /* Text for social media handles */
  .column-footer-text {
    margin-left: 5px; /* Adjust the margin as needed */
    font-size: 14px; /* Adjust the font size as needed */
  }
  .sitemap{
    display: flex;
    flex-direction: column;
    color: white;
  }

  @media screen and (max-width: 1000px) {
    .row{
      flex-direction: column;
    }
    .footer h3{
      margin: 0;
    }
    .footer p{
      font-size: 2.5vw;
    }
    .social-media{
      flex-direction: column;
    }
  }