.our-sponsors {
  text-align: center;
}

.sponsor-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.sponsor-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}


.collective-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; /* Center the text */
}

.our-spons-header {
  font-weight: 900;
  font-size: xx-large;
  font-family: "Anton", sans-serif;
  text-align: center;
  margin-top: 10%;
}

.individual-sponsor {
  text-align: center; /* Adjust as needed */
  width: 100%;
}

.sponsor-image-left {
  height: 180px;
  width: 180px;
}

.sponsor-image-right {
  height: 180px;
  width: 180px;
}

.our-spons-title-left {
  text-align: center;
  font-size: large;
  color: black;
  white-space: nowrap;
}

.our-spons-title {
  text-align: center;
  font-size: large;
  color: black;
}
.title-sponsor{
  width: 70%;
}



@media screen and (max-width: 1000px) {
  .sponsor-row {
    flex-direction: column;
    align-items: center; /* Center items vertically */
  }
  .sponsor-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .sponsor-first,
  .individual-sponsor {
    width: 100%;
    margin-bottom: 15%;
  }

  .our-spons-title-left {
    margin-left: 0; /* Adjust as needed */
    margin-top: 20%;
  }
}

